<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static "bootstrap/css/bootstrap.min.css" %}' type="text/css" />
    <link rel="stylesheet" href='{% static "style.css" %}' type="text/css" />
    <link rel="stylesheet" href='{% static "mq.css" %}' type="text/css" />
    <!--Font-awesome CSS for icons-->
    <link rel="stylesheet" href='{% static "font-awesome/css/font-awesome.min.css" %}' type="text/css" />

    <title>{% block head_title %} KTA HO {% endblock head_title %}</title>
  </head>
  
  <body>

      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="color: white">

         <a class="navbar-brand" href="{% url 'profile' %}"> GANGS </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
              </form>




              <li class="nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class ="dropdown-item" href="{% url 'profile'%}">Profile</a>
                  <a class ="dropdown-item" href="{% url 'info'%}">Edit Account Info</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>

            </ul>
           
        </div>

      </nav>


    <br><br>
    <div class="container-fluid">
      {%block userinfo_form%}
      {%endblock userinfo_form%}
      {%block profile_content%}
      {%endblock profile_content%}
    </div>
   

    {% block content %}

    {% endblock content %} 
    
   

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='{% static "bootstrap/js/jquery-3.2.1.slim.min.js" %}'></script>
    <script src='{% static "bootstrap/js/popper.min.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
</body>


</html>