<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    {% load widget_tweaks %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static "bootstrap/css/bootstrap.min.css" %}' type="text/css" />
    <link rel="stylesheet" href='{% static "style.css" %}' type="text/css" />
    <link rel="stylesheet" href='{% static "mq.css" %}' type="text/css" />
    <!--Font-awesome CSS for icons-->
    <link rel="stylesheet" href='{% static "font-awesome/css/font-awesome.min.css" %}' type="text/css" />

    <title>{% block head_title %} KTA HO {% endblock head_title %}</title>
  </head>
  
  <body>

    <div class="jumbotron jumbotron-fluid " style="height: 8rem; background-color: black; color: white">
      <div class="row">

        <div class="col-6">
          <h1 class="display-4 ml-3">GANGS</h1>
          
          
        </div>
        <div class="col-1">
        </div>
      
        <div class="col-5">

            {% include 'login_form.html' %}
        </div>
        
      </div>
    
    </div>


    <p class="lead ml-3"> Manage your close Friends, Family and Casual People</p>
    <div class="container ml-2">
      
      
      {% block create_account_form %}
      {% endblock create_account_form %}
      {%block profile_content%}
      {%endblock profile_content%}
    </div>
   

    {% block content %}

    {% endblock content %} 
    
   

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='{% static "bootstrap/js/jquery-3.2.1.slim.min.js" %}'></script>
    <script src='{% static "bootstrap/js/popper.min.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
</body>


</html>