{% extends '../base.html' %}
{% block head_title %} Profile || {{block.super}}{% endblock head_title %}

{% block profile_content %}


<div class="container-fuid">

  <div class="card">
    {% for obj in object_list %}
    {% if obj.profile_picture %}
    <img class="card-img-top" src="{{obj.profile_picture.url}}" style="height: 20rem" alt="Card image cap">
    {% endif %}
    {% endfor %}
    <br>
    <div class="card-body">
      <h4 class="card-title text-center "><b><i>{% for obj in object_list %} {{obj.first_name}} {{obj.last_name}} {%endfor%}</i></b></h4>
      <br>

        <div class="row">
          <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Info</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Posts</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <ul class="list-group">
                  {% for obj in object_list %}
                  <li class="list-group-item"><b>Age:</b>{{obj.age}}</li>
                  <li class="list-group-item"><b>Description:</b> {{obj.description}}</li>
                  <li class="list-group-item"><b>Active Since:</b> {{obj.created_date}}</li>
                </ul>

                  {%endfor%}
                </div>

              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <a href ="{% url 'posts' %}" class="btn btn-success"> Write a post </a>
                <br><br>

                {%for post in posts_list %}


                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{post.picture.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}}</h5>

                      <p class="text-muted">{{post.timestamp| timesince}} ago</p>
                      <p class="card-text">{{post.status}}</p>
                      <a href="#" class="btn btn-primary">Edit</a>
                      <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                  <br>
                  
                  






                {%endfor%}



              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
            </div>
          </div>
        </div>



      
      
    </div>
  </div>
</div>

{% endblock profile_content %}

